@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* nav links and buttons */
.nav-link {
  font-weight: 600;
  font-size: 17px;
}

.nav-link:hover {
  font-weight: 700;
  background-color: rgba(52, 136, 209, 0.1) !important;
}

.navbar-toggler:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.button-2 {
  text-align: center;
  position: relative;
  font-size: 20px !important;
}

.btn-primary:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown-menu-custom {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: none !important;
  outline: none !important;
  width: 100px !important;
}

.dropdown-item {
  font-weight: 600 !important;
  font-size: 17px !important;
}

.dropdown-item:hover {
  background-color: rgb(52, 136, 209) !important;
  color: #fff !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

/* container-1 */
.container-1 {
  position: relative;
  height: 600px;
}

.navbar-brand img {
  width: 100px;
  height: 72px;
  position: relative;
}

.navbar-brand p {
  font-weight: 700;
}

/* container-2 */

.container-2 .border-primary {
  border-top: 3px solid #4981b3 !important;
}

/* searchbar */
.elementsContainer {
  width: 15%;
  height: 40px;
  vertical-align: middle;
  margin-left: 10px;
}

.elementsContainer .form-control {
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  padding-left: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 12px;
}

.elementsContainer .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.elementsContainer .btn {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
/* main-section1 */
.container-ms .btn-2 {
  padding-top: 55px;
}

.icons1 {
  font-size: 80px;
  color: #4981b3;
}

.container-ms h5 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 7px;
}
.container-ms p {
  font-size: 16px;
  padding-bottom: 10px;
}

/* main-section2 */
.container-4 {
  background-color: rgba(0, 22, 80, 1);
}

.container-4 .elementsContainer {
  width: 100%;
}

.container-4 .elementsContainer .form-control {
  border-radius: 0px;
  font-size: 14px;
}

.container-4 .elementsContainer .btn {
  height: 100%;
  border-radius: 0px;
}

.container-4 .container-5 {
  width: 100%;
  border-radius: 10px;
}

.container-4 h5 {
  color: #fff;
}

.container-4 p {
  color: #fff;
}

.container-4 .container-5 h5 {
  color: black;
  padding-top: 10px;
}

.container-4 .container-5 p {
  color: black;
}

/*University page*/

.university-nav .elementsContainer {
  width: 42%;
  height: 40px;
  vertical-align: middle;
  margin: 10px auto;
}

.university-nav .woman-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
}
.university-nav .logo {
  width: 100px;
  height: 72px;
  margin-top: 20px;
}
.welcome {
  text-align: center;
  color: #071d69;
}

.nigeria-universities .form-select {
  padding: 10px;
  color: #071d69;
}

.university-nav .card {
  width: 70rem;
  margin: 20px auto;
}

.university-nav .text-end {
  background-color: #6a8de1;
  color: #fff;
}

.nigeria-universities .dropdown {
  padding: 20px;
}

.text-end .card-link {
  text-decoration: none;
  color: white;
}

.text-end .rating-icon {
  color: rgb(240, 164, 24);
}
.nigeria-universities .btn {
  width: 40rem;
}

.card .card-text {
  text-align: center;
  padding-top: 10px;
}

.nigeria-universities {
  margin: 50px auto;
  border: 1px solid rgb(216, 213, 213);
  width: 70rem;
  padding: 30px;
}
.university-nav .text-end .btn {
  color: #6a8de1;
}

.universities {
  text-align: center;
  text-transform: uppercase;
}

.university-nav .arrow {
  font-size: 30px;
}
.footer-links a {
  text-decoration: none;
  border-right: 1px solid black;
  padding-right: 150px;
  margin: 50px;
  color: #071d69;
}

.footer-links .hyperlink {
  border: none;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nigeria-universities h2 {
  text-align: center;
  text-transform: uppercase;
  color: #6a8de1;
  padding: 20px;
}

/* Modal.js */
.modal-header {
  background-color: rgba(10, 22, 80, 1) !important;
  color: #fff !important;
}

#modalClose {
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 40px !important;
}

.modal-1 h5 {
  font-size: 16px !important;
}
.modal-1 .elementsContainer .form-control {
  width: 400px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-color: #071d69 !important ;
  font-size: 16px;
}
.modal-1 .elementsContainer .btn {
  color: #071d69;
  border-color: #071d69 !important;
  background-color: #fff !important;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#exampleCheck1 {
  border-color: #071d69 !important;
}

#exampleCheck1:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#exampleCheck1:checked {
  background-color: #071d69 !important;
}

.modal-1 .btn-custom {
  background-color: #071d69 !important;
  color: #fff;
}
.modal-1 .btn-custom:hover {
  color: #fff;
  background-color: rgba(7, 28, 105, 0.8) !important;
}

@media (max-width: 380px) {
  .container-2 h1 {
    font-size: 10px;
  }
  .container-2 p {
    font-size: 14px;
  }
}

/* faculty page*/

.faculty-bg {
  height: 300px;
  background: url("https://i.ibb.co/19V4fZX/SAVE-20210409-104135.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 65px;
}

.faculty .faculty-test p {
  font-size: 25px;
}

.faculty .faculty-test a {
  font-size: 80px;
}

.faculty p {
  font-size: 17px;
  text-align: center;
}

.faculty a {
  text-decoration: none;
  color: #4981b3;
}

/* Medium devices (tablets, 576px and up)*/
@media (max-width: 576px) {
  .elementsContainer {
    width: 30%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .elementsContainer {
    width: 30%;
  }
}
/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
}
